.DarkPurpleBar {
    background-color: #4f1852;
    text-align: center;
      width: 100%;
      height: 50px;
  }
.PurpleBar {
      background-color: #753b76;
      width: 100%;
      height: 70px;

}
.NavBar {
    width: 100%;
    height: 100%;
    padding-top: 25px;

}

.body {
      margin: 0;
      background-color: #964b98;
      text-align: center;
}
.button{
      background-color: white;
      border-width: 0;
      border-radius: 40px;
      height: 3rem;
      width: 6rem;
      font-weight: bold;
      font-size: 13px;
      font-weight: 600;
      font-family: HeliaCoreBold, Arial, sans-serif;
      line-height: 13px;
      cursor: pointer;
}
.button2{
      background-color:  #964b98;
      border-width: 0;
      border-radius: 40px;
      height: auto;
      width: auto;
      padding: 10px;
      font-weight: bold;
      font-size: 13px;
      font-weight: 600;
      font-family: HeliaCoreBold, Arial, sans-serif;
      color: white;
      cursor: pointer;
      margin-left: 5px;

}
.paragraph{
      font-size: 24px;
      font-family: HeliaCoreMedium, Arial, sans-serif;
      line-height: 1.2;
      white-space: pre;
}
.header{
      font-size: 24px;
      font-family: HeliaCoreMedium, Arial, sans-serif;
      line-height: 1.2;
      white-space: pre;
      color: white;
}
.header2{
      font-size: 16px;
      font-family: HeliaCoreMedium, Arial, sans-serif;
      line-height: 1.2;
      white-space: pre;
      color: black;
}
.content{
      border-radius: 10px;
      background-color: white;
      margin-left: 25%;
      margin-right: 25%;
      align-items: center;
      justify-content: center;
      justify-items: center;
      align-content: center;
      padding-bottom: 15px;
      margin-bottom: 15px;
}

.logo_centered{
      display: flex;
      justify-content: center;
}

.logo_right{

    display: flex;
    justify-content: right;
    padding-right: 10%;
}

.logo{
    position: absolute;
      width: auto;
      height: 135px;
}


.webLanTitleDiv{
    background-color: white;
    width: 150px;
    height: 150px;
    color: #4f1852;
    position: absolute;
    font-size: 24px;
    font-family: HeliaCoreMedium, Arial, sans-serif;
    line-height: 1.2;
    white-space: pre;
    left: 15%;
}

.webLanTitle{
    top: -15px;
    margin: 0;
    margin-top: -35px;
}


.footer{
    position: absolute;
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    margin: 0;
}


.navbarButton {
    position: fixed;
}


.dropdown {
    position: relative;
    display: inline-block;

    padding-left: 1%;

  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: purple;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 20vw;
    font-family: HeliaCoreMedium, Arial, sans-serif;


  }

  .dropdown-content a {
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    text-align: left;
    padding-left: 5%;
    padding: 10%;
  }

.dropdown-content a:hover {
background-color: black;
text-align: left;
font-weight: bold;
}


  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #354146;
  }

  .dropdown button {
background-color: transparent;
color: white;
padding: 5px;
font-size: 17px;
font-weight: bold;
border: none;
cursor: pointer;
position: relative;
}
